<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rdpConnections" type="RdpKeeper.Common.Config.RdpConnectionSection, RdpKeeper.Common" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <rdpConnections>
    <rdpConnection hostname="" domain="" username="" password="" sendEnterAfterLogon="true" reconnectTimeoutMins="5" sendKeysTimeoutMins="1" desktopWidth="1920" desktopHeight="1080"/>
  </rdpConnections>
</configuration>
